.carousel-png{
    min-height:550px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, .0)), url(../images/carousel.png);
    background-size: auto, cover;
    color:white;
    max-height:100%;
    width:100%;
}

.carousel-block{
    background: rgba(231, 235, 240, 0.7);
    backdrop-filter: blur(10px);
    color:black;
    width:496px;
    height:370px;
    margin:0 auto;
    text-align:center;
    padding:30px;
}

.carousel-block-subtitle{
    font-size:18px;
    font-weight: 400;
    text-align:left;
    line-height: 1.4;
    margin:20px 0 25px;
}

.carousel-block-button{
    margin-right:305px;
    border-radius: 0 0 30px 0;
    background: linear-gradient(90deg, #61BDF6 0%, #3B418D 100%);
    border:none;
    color:white;
    width:174px;
    height:52px;
}

.carousel-block-header{
    font-weight:700;
    font-size:30px;
    margin-bottom: 20px;
}