.payment-section{
    margin-top:60px;
}

.payment-two-columns{
    display:inline-block;
    width:100%;
}

.payment-methods-block{
    margin-top:25px;
    height: 465px;
    position:relative;
    text-align:center;
    border:2px solid #76E7C7;
    padding:20px;
}

.payment-item{
    margin:25px 0 0 67px;
    height:200px;
    position:relative;
    text-align:center;
    border:2px solid #76E7C7;
    padding:56px;
}

.payment-m-t{
    margin-top:30px;
}

/*.payment-subtitle{*/
/*    font-size:16px;*/
/*    font-weight: 700;*/
/*    color:#3B418D;*/
/*    white-space: nowrap;*/
/*}*/

.payment-img{
    margin:0 auto;
}

.payment-two-columns{
    display:flex;
}

.payment-left-column{
    width:30%;
}

.payment-right-column{
    width:70%;
}

.payment-flex{
    display:flex;
}

.payment-subtitle {
    position: absolute;
    /* top: 89%; */
    bottom: -5%;
    text-align: center;
    background: white;
    width: 62%;
    z-index: 3;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3B418D;
    white-space: nowrap;
}


.delivery_methods {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #90969D;
    width: 90%;
    display: flex;
    text-align: center;
    margin: 20px auto;
    justify-content: center;
    padding: 5px;
}

.second_line_methods {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_line_methods {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.line-delivery{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media(max-width:1450px){
    .payment-item {
        margin: 25px 0 0 0;
    }
}


