body{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    line-height:1.3;
    color:#45485B;
}

a:hover{
    text-decoration: none;
}

a{
    color:#45485B;
}

.section-content {
    max-width:1440px;
    margin: 0 auto;
}

.btn-default{
    display: inline-block;
    padding: 20px 4.7px;
    margin: 40px 0 20px;
    min-width:170px;
    border:0;
    text-transform: uppercase;
    font-weight:700;
    transition:0.5s;
    color: #61BDF6;
    text-align:center;
    border-radius:10px;
}

.header-phone-img{
    width: 25px;
    height: 25px;
}

.c-white{
    color:white;
    font-size:16px;
    font-weight:500;
    transition:0.5s;
}

.c-white:hover{
    color:white;
}

.c-blue{
    color:#3B418D;
}

hr{
    border:1px solid #90969D;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slider_second {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.carousel-slider-img{
    height: 52px;
    margin-top: 180px;
}